@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: normal;
    src: url('assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 100;
    font-style: italic;
    src: url('assets/fonts/Roboto-ThinItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    src: url('assets/fonts/Roboto-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: url('assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: italic;
    src: url('assets/fonts/Roboto-Italic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: italic;
    src: url('assets/fonts/Roboto-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: url('assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: italic;
    src: url('assets/fonts/Roboto-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: url('assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url('assets/fonts/Roboto-BlackItalic.ttf');
}

.game-view {
    -fx-background-image: url('assets/background/BGback.gif');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.menu {
    -fx-background-image: url('assets/background/30_g10_lakegarden.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.chara-select {
    -fx-background-image: url('assets/background/bg_23_G08.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button {
    -fx-font: normal 18pt 'Roboto';
    -fx-font-weight: 100;
    -fx-text-fill: white;
    -fx-background-color: #1B243080;
}

.button:hover {
    -fx-background-color: #161d2580;
}

.label {
    -fx-font: normal 12pt 'Roboto';
    -fx-font-weight: 100;
    -fx-text-fill: white;
}

.title-label {
    -fx-font: italic 64pt 'Roboto';
    -fx-font-weight: 900;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #000000, 0, 1, 3, 3);
}

.player-label {
    -fx-font: italic 24pt 'Roboto';
    -fx-font-weight: 500;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, #000000, 0, 1, 3, 3);
}

.time-label {
    -fx-font: italic 64pt 'Roboto';
    -fx-font-weight: 900;
    -fx-effect: dropshadow(gaussian, #000000, 0, 1, 3, 3);
}

.score-label {
    -fx-font: italic 24pt 'Roboto';
    -fx-font-weight: 900;
    -fx-effect: dropshadow(gaussian, #000000, 0, 1, 3, 3);
}

.now-playing {
    -fx-background-color: linear-gradient(to right, #00000000, #000000FF);
}

.now-playing .label {
    -fx-font-style: italic;
    -fx-font-weight: 500;
}

.progress-bar {
    -fx-accent: red;
}

.progress-bar .track {
    -fx-background-color: linear-gradient(to right, #00000000, #000000FF);
}

.health-bar {
    -fx-accent: green;
}

.health-bar .track {
    -fx-background-color: white;
}
